# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example
.envrc

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/
build/
coverage/

# IDEs/Editors
.vscode/
.idea/
*.iml

# Misc
.tmp/
.temp/
.cache/


.vs/
receipts/
